body{
    
    border-radius: 0;
    margin: 0%;
    padding: 0%;


}


header{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(1.jpg)  ;  
    background-size: cover;
padding: 22;
    background-position: center;
    
}
#b{
    padding: 20;
   
}

#vi{
    position: fixed;
 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 121vh;
    width: 229vh;
    z-index: -1;
    right: 0;
    bottom: 0;
}
nav{
  
    width: 100%;
    line-height: 60px;

}

nav ul{
    float: right;
    margin: 0;
    padding-right: 42px;

}


nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    text-align: right;
    font-weight: bold;

    
}

nav ul li a:hover{
    color: rgb(0, 0, 0);
    
}

#m{
    height: 48px;
    float: left;
    margin: 16px 48px;
    font-size: 50;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav.mun{
    background-color: rgb(0, 0, 0);
}

#H{
    font-size: 60px;
    
font-weight: bold;
 
   
    text-align: center;
padding-top: 200px;
    color: rgb(255, 255, 255);
}
#f1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20;   
}

.ha{
    background-color: #f1e7ad;
    padding: 20;
}





.f{
    color: black;
}





.ddd{
    background-color: #000000;
    padding: 20;
}












.btn-danger{
    background-color: #ff0800;
    width: 100;
    font-size:15;
}





.nfInput .nfTextField {
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
}
.nfTextField:invalid, .nfTextField:valid {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.nfTextField {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 500;
    color: #000;
    padding: 10px 11px;
    height:55px;
}
input {
    line-height: normal;
}





#j{
width: 500;

font-size: 20;
}

#g{
    width: 100%;
    height: 100%;
    max-width: 74%;
    max-height: 54%;
    position: absolute;
    top: 143%;
    left: 57%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


.haa{
    background-color:black;
    background-size: cover;

    background-position: center;
    height: 100vh;
}



.f6{
    text-align: left;
    color: white;
    font-size: 30;
   margin-top: -300;
   margin-left: 50;
}

#f8{
    font-size: 60;
}


.haaa{
    background-color: black;
    height: 100vh;
}

#f13{
    color: wheat;
    font-size: 45;
    text-align: left;
    margin-top: -320;
    padding-left: 50;
}

#f14{
    color: wheat;
    font-size: 35;
    text-align: left;
    margin-top: -220;
    padding-left: 50;
}

.haaaa{
    background-color: black;
    height: 100vh;
}


#kj{
    width: 60%;
    height: 500%;
    max-width: 60%;
    max-height: 90%;
    position: absolute;
    
    top: 320%;
    left: 80%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


#jk{
    max-width: 40%;
}

.gf{
    text-align: right;
}


#f15{
    
    color: wheat;
    font-size: 35;
    text-align: left;
    margin-top: -200;
    padding-left: 50;
}

#f16{
    color: wheat;
    font-size: 40;
    text-align: left;
    margin-top: -200;
    padding-left: 50;
}





.hhha{
    background-color: black;
}


.kl{
    background-color: #252729;
    text-align: center;
    max-width: 150vh;
    font-size: 20;
    padding: 30;
    color: wheat;
}



.kll{
    background-color: #252729;
    max-width: 150vh;
    font-size: 50;
    color: wheat;

}


#a
{
    width: 500;
    height: 50;
    border-radius: 0;
    font-size: 32;
}