body
{
    border-radius: 0;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;

}
#img{
    width: 140;
    height: 140;
    
    
}
.ll{
    background-color: black;
}
.lkl{
    text-align: center;
    background-color: #696969;
    font-family: A KORDi,chiller;
    font-weight: bold;
    padding: 2%;
    margin-top: 0px;


}
.taha{
    background-color: dimgray;
    padding: 20%;
    
    text-align: center;
}
.t{
    background: url(5.jpg)  ;  
    background-size: cover;
    background-attachment: fixed;
    margin: -20;
    background-position: center;
    height: 35vh;
    
   
}
.lll{
    background-color: darkslategrey;
    padding: 50px;
    border-radius: 50px;
}
#ama{
    background-color: 		#696969;

background-size: cover;    


}
.team_member {
    text-align: center;
    background-color: #ffffff;
    border: solid 1px #ccc;
    color: #666666;
    padding: 40px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 6px;
    direction: rtl;
}
.fap{
    font-family: A KORDi,chiller;
    font-weight: bold;
}
#ig{
    
    width: 100;
    text-align: center;
    
    border-radius: 50px;
}
#wat{
    
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #28eb38 5%, #28eb38 45%, #28eb38 60%, #28eb38 90%);
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color:
  transparent;
    font-size: 50px; 
}
#telg{
    background: radial-gradient(circle at 30% 107%, #285AEB 0%,#285AEB 5%, #285AEB 45%,#285AEB 60%, #285AEB 90%);
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color:
  transparent;
    font-size: 50px; 
}
#insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color:
  transparent;
    font-size: 50px; 
  }
#imgg{
    text-align: center;
    background-color: 	#808080;
    padding: 50;
    background-size: cover;
width: 350;
height: 550;

border-radius: 50px;
        background-position: center;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
body {
    font-family: "Yekan", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #666666;
    background-color: #efefef;
}
header{
    background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url(2.jpg)  ;  
    background-size: cover;

    margin: -20;
    background-position: center;
    

}

nav{
  
    width: 100%;
    line-height: 60px;

}

nav ul{
    float: right;
    margin: 0;
    padding-right: 42px;

}


nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    text-align: right;
    font-weight: bold;

    
}

nav ul li a:hover{
    color: rgb(255, 153, 0);
    
}


#m{
    height: 48px;
    float: left;
    margin: 16px 48px;
    font-size: 30;
    color: blanchedalmond;
}

nav.mun{
    background-color: rgb(0, 0, 0);
}

#H{
    font-size: 48px;
    padding: 19%;
    
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    padding-top: 20%;
    color: #fff;
}

.ha{
    background-color: #f1e7ad;
    padding: 20;
}

#bt{
    padding: 100;
    border-radius: 50px;
}

#b{
    padding: 20;
    font-size: 50;
    border-radius: 300px;
}

#bt:hover{
    border-radius: 20;
}


.tab{
    background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url(ImagesSlider/6.jpg)  ;  
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

#b1{
    border: 0;
    padding: 15px 30px;
    border-radius: 300px;
    padding: 30;
    font-size: 20;
    
}


.haa{
    background-color: #9ba9eb;
    padding: 20;
}


.tah{
    background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url(ImagesSlider/14.jpg)  ;  
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: wheat;
    padding: 0;
}

#f1{
    padding: 50;
}

.ll{
    font-size: 50;
}





